.badge-notify{
    background:red;
    position:relative;
    top: -5px;
    left: -33px;
}

.navbar-default {
    background: snow;
    border-radius: 0;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.6);
}

.sidebar {
    background: snow;
}