.module-from {
    width: 100%;
}
.module-container {
    max-width: 360px;
    margin: auto;
}
.module-hint-container {
    max-width: 360px;
    margin: auto;
    padding: 10px 25px;
    border-radius: 5px;
}
.module-shadow {
    background-color: white;
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
body {
    overflow: auto;
    height: 100%;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}